<div class="inner_page login">
  <div class="full_container">
    <div class="container">
          <div class="center verticle_center full_height">
            <div class="login_section">
    <div class="login_form">      
        <div class="card-header">
          <h3 class="center">Login</h3>
        </div> 
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <fieldset> 
            <div class="field">
            <div class="mb-3">
                <div class="row">
              <label for="username" class="label_field">Username</label>
              <input type="text" formControlName="username" id="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.get('username')?.errors }" />
              <div *ngIf="submitted && loginForm.get('username')?.errors" class="invalid-feedback">
                Username is required
              </div>
              </div>
            </div>
            </div>
             <div class="field">
            <div class="mb-3">
                <div class="row">
              <label for="password" class="label_field">Password</label>
              <input type="password" formControlName="password" id="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.get('password')?.errors }" />
              <div *ngIf="submitted && loginForm.get('password')?.errors " class="invalid-feedback">
                Password is required
              </div>
              </div>
            </div>
            </div>
             <div className="field margin_0">
            <button type="submit" class="main_bt" [disabled]="loading">Login</button>
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          </div>
          </fieldset>
        </form>
        
      </div>
      </div>   </div>  
    </div>
  </div>
</div>